@using LibraryReporter.Models.LibraryReport
@using LibraryReporter.Services
@model List<IssuedBookReportViewModel>
@inject AuthService authService
@inject UserService userService


<div class="tableBody">

@*     <div class="search-section">
        <form method="post" action="/LibraryReport/SearchIssueBookReport" class="search-form">
            <input type="text" name="moderSurname" placeholder="Введите фамилию сотрудника" class="search-input" id="ModerSurname" />
            <input type="text" name="readerSurname" placeholder="Введите фамилию читателя" class="search-input" id="ReaderSurname" />
            <input type="text" name="name" placeholder="Введите название книги" class="search-input" id="BookName" />
            <input type="text" name="author" placeholder="Введите автора книги" class="search-input" id="Author" />
            <input type="text" name="publisher" placeholder="Введите издателя" class="search-input" id="Publisher" />
            <input type="text" name="barcode" placeholder="Введите штрихкод" class="search-input" id="Barcode" />
            <input type="date" name="issueDate" placeholder="Введите дату выдачи" class="search-input" id="IssueDate" />
            <input type="date" name="acceptanceLastDate" placeholder="Введите дату возврата" class="search-input" id="AcceptanceLastDate" />
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div> *@
    <table class="tableBook">
        <thead>
            <tr>
                <th>Фамилия сотрудника</th>
                <th>Фамилия читателя</th>
                <th>Название книги</th>
                <th>Автор</th>
                <th>Издатель</th>
                <th>Штрихкод</th>
                <th>Дата выдачи</th>
                <th>Дата возврата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.ModerSurname</td>
                    <td>@book.ReaderSurname</td>
                    <td>@book.BookName</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.Barcode</td>
                    <td>@book.IssueDate</td>
                    <td>@book.AcceptanceLastDate</td>

                </tr>
            }
        </tbody>
    </table>
</div>



