@using LibraryReporter.Models.Book
@using LibraryReporter.Services
@model List<BookViewModel>
@inject AuthService authService
@inject UserService userService


<div class="tableBody">

    <div class="search-section">
        <form method="post" action="/Book/SearchBooks" class="search-form">
            <input type="text" name="name" placeholder="Введите название книги" class="search-input" id="BookName" />
            <input type="text" name="author" placeholder="Введите автора книги" class="search-input" id="Author" />
            <input type="text" name="publisher" placeholder="Введите издателя" class="search-input" id="Publisher" />
            <input type="text" name="barcode" placeholder="Введите штрихкод" class="search-input" id="Barcode" />
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div>
    <table class="tableBook">
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Автор</th>
                <th>Издатель</th>
                <th>Штрихкод</th>
                <th>Статус</th>
@*                 @if (authService.IsAuthenticated())
                {
                    <th>Купить</th>
                } *@
                @if (authService.IsLibraryModerator())
                {
                    @* <th>Изменить</th> *@
                    <th>Удалить</th>
                }
            </tr>
            @if (authService.IsLibraryModerator())
            {
                <div class="creation-order">
                    <a class="text-neutral-950 hover:text-orange-500 py-2 px-4 rounded-md bg-orange-200" href="/Book/CreateBook">Добавить книгу</a>
                </div>
            }
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.BookName</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.Barcode</td>
                    <td>@book.Status</td>
                    @* @if (authService.IsAuthenticated())
                    {
                        <td>
                            <a href="/Home/BuyBook?bookId=@book.Id" class="action-icon ">
                                <img src="/images/buy-icon.png" alt="Купить" />
                            </a>
                        </td>
                    } *@
                    @if (authService.IsLibraryModerator())
                    {
                        @* <td>
                            <a href="/Home/EditBook?bookId=@book.Id" class="action-icon ">
                                <img src="/images/edit-icon.png" alt="Изменить" />
                            </a>
                        </td> *@
                        <td>
                            <a href="#" class="action-icon" onclick="confirmDelete('/Book/DeleteBook?bookId=@book.Id')">
                                <img src="/images/delete-icon.png" alt="Удалить" />
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(url) {
        if (confirm("Вы уверены, что хотите удалить эту книгу?")) {
            // Если пользователь подтвердил, перенаправляем запрос на сервер
            window.location.href = url;
        }
        // Если пользователь нажал "Отмена", ничего не происходит
    }
</script>


