@using LibraryReporter.Models.Book
@using LibraryReporter.Services
@model List<ReaderViewModel>
@inject AuthService authService
@inject UserService userService


<div class="tableBody">

    <div class="search-section">
        <form method="post" action="/Reader/SearchReaders" class="search-form">
            <input type="text" name="name" placeholder="Введите имя читателя" class="search-input" id="Name" />
            <input type="text" name="surname" placeholder="Введите фамилию читателя" class="search-input" id="Surname" />
            <input type="text" name="phonenumber" placeholder="Введите номер телефона" class="search-input" id="PhoneNumber" />
            <input type="date" name="birthday" placeholder="Введите день рождения" class="search-input" id="Birthday" />
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div>
    <table class="tableBook">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер телефона</th>
                <th>Дата рождения</th>
                <th>Дата добавления</th>
                @* @if (authService.IsAuthenticated())
                {
                    <th>Купить</th>
                } *@
                @if (authService.IsLibraryModerator())
                {
                    @* <th>Изменить</th> *@
                    <th>Удалить</th>
                }
            </tr>
            @if (authService.IsLibraryModerator())
            {
                <div class="creation-order">
                    <a class="text-neutral-950 hover:text-orange-500 py-2 px-4 rounded-md bg-orange-200" href="/Reader/CreateReader">Добавить читателя</a>
                </div>
            }
        </thead>
        <tbody>
            @foreach (var reader in Model)
            {
                <tr>
                    <td>@reader.Name</td>
                    <td>@reader.Surname</td>
                    <td>@reader.PhoneNumber</td>
                    <td>@reader.Birtday</td>
                    <td>@reader.AddedDate</td>
                    @* @if (authService.IsAuthenticated())
                    {
                        <td>
                            <a href="/Home/BuyBook?bookId=@book.Id" class="action-icon ">
                                <img src="/images/buy-icon.png" alt="Купить" />
                            </a>
                        </td>
                    } *@
                    @if (authService.IsLibraryModerator())
                    {
                        @* <td>
                            <a href="/Home/EditBook?bookId=@book.Id" class="action-icon ">
                                <img src="/images/edit-icon.png" alt="Изменить" />
                            </a>
                        </td> *@
                        <td>
                            <a href="#" class="action-icon" onclick="confirmDelete('/Reader/DeleteReader?readerId=@reader.Id')">
                                <img src="/images/delete-icon.png" alt="Удалить" />
                            </a>
                        </td>
                        
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(url) {
        if (confirm("Вы уверены, что хотите удалить этого читателя?")) {
            // Если пользователь подтвердил, перенаправляем запрос на сервер
            window.location.href = url;
        }
        // Если пользователь нажал "Отмена", ничего не происходит
    }
</script>

